@import url(fontawesome-all.min.css);

/* Basic */

body {
    background: #3d405b; /* $delft-blue */
}

body, input, select, textarea {
    color: rgba(244, 241, 222, 0.55); /* $eggshell with opacity */
}

a {
    border-bottom-color: rgba(244, 241, 222, 0.35); /* $eggshell with opacity */
    color: inherit;
}

a:hover {
    border-bottom-color: transparent;
    color: #f4f1de; /* $eggshell */
}

strong, b {
    color: #f4f1de; /* $eggshell */
}

h1, h2, h3, h4, h5, h6 {
    color: #f4f1de; /* $eggshell */
}

blockquote {
    border-left: solid 4px rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

code {
    background: rgba(244, 241, 222, 0.05); /* $eggshell with opacity */
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

hr {
    border-bottom: solid 1px rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

/* Box */

.box {
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: transparent;
    border-color: rgba(244, 241, 222, 0.15) !important; /* $eggshell with opacity */
    color: #f4f1de !important; /* $eggshell */
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    border-color: rgba(244, 241, 222, 0.55) !important; /* $eggshell with opacity */
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: #f4f1de; /* $eggshell */
    color: #3d405b !important; /* $delft-blue */
}

/* Form */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background: rgba(244, 241, 222, 0.05); /* $eggshell with opacity */
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #f4f1de; /* $eggshell */
    box-shadow: 0 0 0 1px #f4f1de; /* $eggshell */
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(244, 241, 222, 0.15)' /%3E%3C/svg%3E");
}

select option {
    color: #f4f1de; /* $eggshell */
    background: #3d405b; /* $delft-blue */
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    color: rgba(244, 241, 222, 0.55); /* $eggshell with opacity */
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(244, 241, 222, 0.05); /* $eggshell with opacity */
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background-color: #f4f1de; /* $eggshell */
    border-color: #f4f1de; /* $eggshell */
    color: #3d405b; /* $delft-blue */
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #f4f1de; /* $eggshell */
    box-shadow: 0 0 0 1px #f4f1de; /* $eggshell */
}

::-webkit-input-placeholder {
    color: rgba(244, 241, 222, 0.35) !important; /* $eggshell with opacity */
}

:-moz-placeholder {
    color: rgba(244, 241, 222, 0.35) !important; /* $eggshell with opacity */
}

::-moz-placeholder {
    color: rgba(244, 241, 222, 0.35) !important; /* $eggshell with opacity */
}

:-ms-input-placeholder {
    color: rgba(244, 241, 222, 0.35) !important; /* $eggshell with opacity */
}

/* Icon */

.icon.major {
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

.icon.major:before {
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

/* Image */

.image.thumb:after {
    background-color: rgba(244, 241, 222, 0.25); /* $eggshell with opacity */
}

/* List */

ul.alt li {
    border-top-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

/* Table */

table tbody tr {
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(244, 241, 222, 0.05); /* $eggshell with opacity */
}

table th {
    color: #f4f1de; /* $eggshell */
}

table thead {
    border-bottom-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

table tfoot {
    border-top-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

table.alt tbody tr td {
    border-color: rgba(244, 241, 222, 0.15); /* $eggshell with opacity */
}

/* Wrapper */

.wrapper.alt {
    background-color: #3d405b; /* $delft-blue */
}

.wrapper.style1 {
    background-color: #81b29a; /* $cambridge-blue */
}

.wrapper.style1-alt {
    background-color: #81b29a; /* $cambridge-blue */
}

.wrapper.style2 {
    background-color: #e07a5f; /* $burnt-sienna */
}

.wrapper.style2-alt {
    background-color: #e07a5f; /* $burnt-sienna */
}

.wrapper.style3 {
    background-color: #f2cc8f; /* $sunset */
}

.wrapper.style3-alt {
    background-color: #f2cc8f; /* $sunset */
}

/* Sidebar */

#sidebar {
    background: #3d405b; /* $delft-blue */
}

#sidebar > .inner > .alt {
    background-color: #2e3043; /* Slightly darker shade of $delft-blue */
}

#sidebar nav a {
    color: rgba(244, 241, 222, 0.35); /* $eggshell with opacity */
}

#sidebar nav a:hover {
    color: rgba(244, 241, 222, 0.55); /* $eggshell with opacity */
}

#sidebar nav a.active {
    color: #f4f1de; /* $eggshell */
}